@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

/* Buttons */
.btn,
.btn-sm {
    @apply text-sm font-medium inline-flex items-center justify-center rounded-lg whitespace-nowrap transition-all;
}

.btn {
    @apply px-4 py-[11px] shadow-lg;
}

.btn-sm {
    @apply px-3 py-[5px] shadow-sm;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply border border-gray-200 shadow-sm rounded-lg focus:ring-0 focus:ring-offset-0;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
input[type=text], input[type=number] {
    @apply bg-white text-sm py-2.5 px-4 focus:border-blue-300 border-red-900 border rounded-lg shadow-sm;
}

.form-input,
.form-textarea,
input {
    @apply placeholder-gray-400; 
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-gray-800 checked:bg-blue-500 checked:border-transparent;
}

table, th, td {
    @apply border border-black p-2;
}

button {
  @apply border border-black bg-gray-200 rounded-md p-1 m-1;
}

.cat-header {
  @apply mt-2 md:mt-5 md:text-4xl text-2xl font-bold;
}

.side {
  @apply px-3 w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500;
}

.selected-side {
  @apply bg-orange-500 border border-gray-200 dark:bg-orange-700 dark:border-orange-600;
}

.main-item {
  @apply px-3 w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500;
}

.selected-main-item {
  @apply bg-blue-500 border border-gray-200 dark:bg-blue-800 dark:border-blue-700;
}

.pusher {
  @apply h-14;
}